process {
    withName:FASTP {
        container = 'library://wallaulabs/viralflow/fastp:0.20.1'
    }
    withName:BWAINDEX {
        container = 'dukegcb/bwa-samtools:latest'
    }
    withName:BWAMEM {
        container = 'dukegcb/bwa-samtools:latest'
    }
    withName:KRAKEN2 {
        container = 'library://wir963/csi-microbes/kraken2:latest'
    }
    withName:BRACKEN {
    container = 'library://alesr13/default/kraken2_bracken:v2.1.2_v2.6.1'
}
    
}

nextflow.enable.dsl=2

